PORT=3000
MONGODB_URL=mongodb+srv://<username>:<password>@bakend.mfr0ppv.mongodb.net/?appName=backend
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=HJHertybhbGHGHGHVGHVGHV
ACCESS_TOKEN_EXPIRY=1d
REFERESH_TOKEN-SECRET=123455opkou7r5e
REFERESH_TOKEN_EXPIRY=10d